<footer class="bg-light py-4">
    <div class="container">
        <!-- الجزء الأول -->
        <div class="row">
            <div class="col-12 text-center">
                <h3>Get The FreshCart App</h3>
                <p>We Will Send You A Link, Open It On Your Phone To Download The App.</p>
                <div class="input-group my-3">
                    <input type="text" class="form-control" placeholder="Enter your phone number or email">
                    <button class="btn btn-success" type="button">Share App Link</button>
                </div>
            </div>
        </div>

        <!-- خط فاصل -->
        <hr>

        <!-- الجزء الثاني -->
        <div class="row align-items-center">
            <div class="col-md-6 text-left">
                <span>Payment partner:</span>
                <img src="./assets/images/amazon-pay.png" alt="Amazon Pay" class="img-fluid mx-1">
                <img src="./assets/images/American-Express-Color.png" alt="American Express" class="img-fluid mx-1">
                <img src="./assets/images/mastercard.webp" alt="Mastercard" class="img-fluid mx-1">
                <img src="./assets/images/paypal.png" alt="PayPal" class="img-fluid mx-1">
            </div>
            <div class="col-md-6 text-right">
                <span>FreshCart:</span>
                <img src="./assets/images/get-google-play.png" alt="Google Play" class="img-fluid mx-1">
                <img src="./assets/images/get-apple-store.png" alt="Apple Store" class="img-fluid mx-1">
            </div>
        </div>
    </div>
</footer>